---
interface FrontmatterProps {
	frontmatter: FrontmatterPost;
}

interface FrontmatterPost {
	title: string;
	pubDate: string;
	description?: string;
	author: string;
	image: {
		url: string;
		alt: string;
	};
  vide?: {
    url: string;
  };
	tags: string[];
	file: string;
	url: string;
}


import MainLayout from "./MainLayout.astro";
import TagButton from "../components/TagButton.astro"
const { frontmatter } = Astro.props as FrontmatterProps;

---

<MainLayout pageTitle={frontmatter.title} >
  <h1 class="mb-8 lg:mb-16 text-center text-5xl tracking-tight font-extrabold text-white">{frontmatter.title}</h1>
  <picture class="flex flex-col justify-center items-center my-6">
    <img class="w-full" src={frontmatter.image.url} alt={frontmatter.image.alt} />
  </picture>
    <div class="flex flex-row items-center justify-start w-full gap-2">
      {frontmatter.tags.map((tag: string) => (
        <p class="tag"><TagButton url={`/tags/${tag}`}>{tag}</TagButton></p>
      ))}
    </div>
  <div class="mb-8 lg:mb-16">
    <p class="text-gray-500 text-sm lg:text-base mb-4">Publicado el: {frontmatter.pubDate.slice(0,10)}</p>
    <p class="text-gray-500 text-sm lg:text-base mb-4"><em>{frontmatter.description}</em></p>
    <p class="text-gray-500 text-sm lg:text-base mb-4">Escrito por: <span class="text-yellow-400 font-bold">{frontmatter.author}</span></p>
    <hr>
  </div>
  
  <slot />
</MainLayout>

<style is:inline>
  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  h3 {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    line-height: 1.5;
    text-wrap: pretty;
    text-align: justify;
  }

  li {
    list-style-type: decimal;
    margin-bottom: 0,5rem;
  }

  pre {
    padding: 1rem;

  }

  img {
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
  }

  a {
    display: inline-block;
    color: rgb(250 204 21);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  a:hover {
    color: rgb(247, 223, 139);
    transform: scale(1.08);
  }
</style>