---
import MainLayout from "./MainLayout.astro";
import TagButton from "../components/TagButton.astro"
const { frontmatter } = Astro.props;
---

<MainLayout pageTitle={frontmatter.title} >
  <h1 class="mb-8 lg:mb-16 text-center text-5xl tracking-tight font-extrabold text-white">{frontmatter.title}</h1>
  <picture class="flex flex-col justify-center items-center my-6">
    <img class="w-3/4" src={frontmatter.image.url} alt={frontmatter.image.alt} />
  </picture>
  <div class="flex flex-row gap-x-2 justify-start mb-8 lg:mb-16">
    <p class="text-gray-500 text-sm lg:text-base dark:text-gray-400">
      Tags: 
    </p>
    <div class="flex flex-col items-center justify-start w-full text-centter md:flex-row">
      {frontmatter.tags.map((tag: string) => (
        <p class="tag"><TagButton url={`/tags/${tag}`}>{tag}</TagButton></p>
      ))}
    </div>
  </div>
  
  <div class="mb-8 lg:mb-16">
    <p class="text-gray-500 text-sm lg:text-base mb-4">Publicado el: {frontmatter.pubDate.slice(0,10)}</p>
    <p class="text-gray-500 text-sm lg:text-base mb-4"><em>{frontmatter.description}</em></p>
    <p class="text-gray-500 text-sm lg:text-base mb-4">Escrito por {frontmatter.author}</p>
    <hr>
  </div>
  
  <slot />
</MainLayout>